@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{width:100%;}
body {width:100%;margin:0 auto;-webkit-user-select:none;background: #eee!important;font-size: .28rem;}
body>iframe { display: none; }
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;/* font-size: 62.5%; */}
/*html, button, input, select, textarea { font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }*/
html, body,textarea,input,button,select,keygen,legend{/* font:12.5px/24px "微软雅黑","Microsoft YaHei",arial,sans-serif,\5b8b\4f53; */color:#3c3c3c;outline:0;}

:focus {outline:0;}
table {
    border-collapse:separate;
    border-spacing:0;
}
caption, th, td {
    text-align:left;
    font-weight:normal;
}
a {display:block; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none;}
a img, iframe {border:none;}
img {vertical-align:top; max-width:100%; display:block; height:auto;}
p {text-align:justify;}
ol, ul ,li{list-style:none;}
input, textarea, select, button {
    font-size:100%;
    font-family:inherit;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
}
input{background:none; outline:none; -webkit-border:0 none; border:0 none; -webkit-appearance:none; appearance:none;-webkit-border-radius:0;border-radius:0;}
input[type='text'],input[type='password'],input[type='button'],input[type='submit'],input[type='reset'],textarea,button{background-color: transparent; border:none; -webkit-appearance: none;appearance: none;-webkit-border-radius:0;border-radius:0;}
i{font-style:normal;}
.fl{float:left;}
.fr{float:right;}
body{margin:0 auto;}
.Pg4{padding:0 4%;height:100%;}
.mg2{margin:0 4%;}
.np{padding:0 !important;}
margin:0 !important;
.none{display:none;}
.clearfix:after {display:block; height:0; clear:both; content:"\200B";}
.clearfix {*zoom:1;}
.row{display: flex; flex-direction: row;}
.column{display: flex; flex-direction: column;}
.align_item{align-items: center;}
.between{display: flex;flex-direction: row;justify-content: space-between;}
.center{justify-content: center;}
.around{display: flex;flex-direction: row;justify-content: space-around;}
/* == 以上 reset css == */

/*----------------手机平板——竖屏-----------------*/
body{
    background: #34363B;
    visibility: hidden;
}
.fullScreen{
	background:#EEE;
}
/*顶栏隐藏*/
.mount{
	display: none;
}
.sideBar{
	display: none;
}
.swiper-container{
	width: 100%;
	height: .83rem!important;
	background: #282A31;
	border-bottom: 1px solid #4C4E53;
}
.gatherContent{
	display: block!important;
}
.gatherBox{
	width: 100%;
	height: .83rem!important;
	/*justify-content: center;*/
	background: #282A31;
	/*overflow: hidden;*/
	/*display: flex;
    flex-direction: row;*/
}
.gatherBox .headTx{
	width: .92rem!important;
	height: .83rem!important;
	position: relative;
	z-index: 8;
	margin-right: 0.05rem;
	background: #000;
}
.gatherBox .headTx:last-child{
	margin-right: 0;
}
.gatherBox .headTx .txImg{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.gatherBox .headTx .txImg video{
	display: block;
	width: 100%;
	height: 100%;
}
.gatherBox .headTx .teacherTag,.gatherBox .headTx .studentTag{
    width: 100%;
    height: .25rem;
    line-height: .25rem;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    font-size: .1rem;
    color: #fff;
}
.gatherBox .studentTag .name{
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: .09rem;
}
.gatherBox .studentTag .name .iconfont{
	font-size: 0.1rem;
}
.gatherBox .studentTag .name span{
    color: #fff;
}
.gatherBox .headTx .studentTag .icon-user{
    font-size: 10px;
    color: #838383;
    margin-right: 4px;
}
.gatherBox .headTx .studentTag .icon-yinpin{
    color:#3DB974;
    margin-left: 3px;
    font-size: 12px;
    display: none;
}
.gatherBox .headTx .studentTag .zanNum{
    display: flex;
    flex-direction: row;
}
.gatherBox .headTx .studentTag .zanNum img{
    width: .15rem;
    height: .15rem;
    position: relative;
    top: .04rem;
    margin-right: .03rem;
    position: relative;
    margin-right: .03rem;
}
.middle{
	width: 100%;
	height: 4.33rem;
	background: #2E3037;
	position: relative;
}
#paint_box{
	width: 100%;
	height: 4.33rem;
	overflow: hidden;
}
.teacherSign{
	width: .28rem;
	height: .27rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.handle{
	display: none;
}
.maxWindow{
	display: none;
}
/* 直播状态 */
.status{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: .2rem;
	position: absolute;
    left: 0;
    top: 0;
}
.status .tag{
	width: 2.5rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: .08rem;
    font-size: .2rem;
    color: #fff;
    margin-bottom: .2rem;
}
.status .start{
    background: #3C9CFE;
}
.status .end{
	background: #979797;
}
/*课程详情*/
.PortCourse{
	width: 100%;
	height: 1.3rem;	
	padding: .25rem .2rem .2rem;
	background: #fff;
	margin-bottom: .1rem;
	position: relative;
}
.handBtn{
	display: flex;
	width: .64rem;
	height: .64rem;
	background: #E5F7FE;
	position: absolute;
	left: 0.2rem;
	top: .35rem;
	z-index: 100;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #00B1F6;
	justify-content: center;
	cursor: pointer;
}
.handBtn .icon-jushou{
	font-size: .45rem;
    margin-left: .05rem;
}
.PortCourse .desc{
	margin-left: .8rem;
	position: relative;
}
.PortCourse .desc .row1{
	font-size: .3rem;
    color: #333;
    width: 91%;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.PortCourse .desc .row1 span{
	display: inline-block;
	height: .3rem;
	line-height: .3rem;
	font-size: .19rem;
	background: #00B1F6;
	border-radius: .06rem;
	padding: 0 .06rem;
	color: #fff;
	margin-right: 0.15rem;
}
.PortCourse .desc .row2{
	font-size: .24rem;
	color: #888;
	margin-top: .1rem;
}
.PortCourse .desc .row2 p{
	margin-right: .4rem;
}
.PortCourse .desc .row2 p i{
	margin-right: .15rem;
	font-size: .3rem;
}
.PortCourse .desc .row2 p:nth-child(2) i{
	font-size: .34rem;
}
.PortCourse .desc .icon-zuidahua{
	position: absolute;
    right: 0;
    top: 0.15rem;
    color: #666;
    font-size: .45rem;
}

/*讨论区*/
.discussBtn,.dialog .title{
	display: none;
}
.PortDiscussTitle{
	display: flex;
	width: 100%;
	height: .88rem;
	padding: 0 .2rem;
	background: #fff;
	font-size: .28rem;
}
.PortDiscussTitle .line{
	width: .05rem;
	height: .4rem;
	background: #00B1F6;
	border-radius: .03rem;
	margin-right: .15rem;
}
.dialog{
	/*height: 5.89rem;*/
	position: relative;
	display: block!important;
}
.dialog .relayBox{
	width: 100%;
	height: .96rem;
	padding: .13rem 0 0 .2rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
}
.dialog .discussList{
	padding: 0.35rem .2rem 1rem;
}
.dialog .discussList li{
	margin-bottom: .15rem;
}
.dialog .discussList li p{
	display: inline-block;
	background: #fff;
	padding: .15rem .25rem .15rem .15rem;
	border-radius: .09rem;
	font-size: .23rem;
}
.dialog .discussList li i{
	color: #00B1F6;
	font-style: normal;
	margin-right: .22rem;
}
.dialog .relayBox textarea{
	float: left;
	width: 6.4rem;
	height: .72rem;
	padding: .15rem .2rem;
	border: 1px solid #EEE;
	resize:none;
}
.dialog .relayBox .send{
	float: right;
	width: .42rem;
	height: .42rem;
	background: url(../images/send.png) no-repeat;
	background-size: .42rem .42rem; 
	margin:.17rem .28rem 0 0;
	text-indent: -9999px;
    outline: none;
}
/*横屏隐藏摄像头*/
.cameraBtn{
	display: none;
}

/*提示弹框*/
.swal2-popup.swal2-toast{
	font-size: 62.5%!important;
}
.swiper-container {
    width: 100%;
    overflow: hidden;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*竖屏不显示元素*/
.cameraClose,.dialogClose,.cameraClose{
	display: none!important;
}