* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    min-width: 1366px;
    font-size: 14px;
    color: #333;
    font-family: "Poppins", sans-serif;
}
li {
    list-style: none;
}
a {  
    text-decoration: none;
    cursor: pointer;
    color: #333;
    outline: none;
}
a:hover {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
a img, a:hover img {
    border: 0 none;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
b{
    font-weight: normal;
}
i{
    font-style: normal;
}
input, button, select, textarea {
    outline: none;
    border: 0 none;
    font-family: "微软雅黑";
}
.wrapper {
    width: 82.29%;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix {
    zoom: 1
}
.clear {
    clear: both;
}
.grey_bg {
    background: #f5f8fe;
}
table {
    border-collapse: collapse;
    /*border-spacing: 1;*/
    border-spacing: 0;
}
label{
    font-weight: normal;
}
.over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.href_aaa {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.row{
    display: -ms-flex; /* 兼容IE */
    display: flex;
    flex-direction: row;
}
.column{
    display: -ms-flex; /* 兼容IE */
    display: flex;
    flex-direction: column;
}
.align_item{
    display: -ms-flex; /* 兼容IE */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.between{
    display: -ms-flex; /* 兼容IE */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.around{
    display: -ms-flex; /* 兼容IE */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redXing{
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 2px;
    color: #FF1919;
    font-weight: bold;
}
/* layui样式 */
.layui-layer-page .layui-layer-content,.layui-layer-title{
	background: #000!important;
}
.layui-layer-title{
	color: #fff!important;
}

.layui-layer-ico{
	background: url('/vendor/livetool/images/close.png') no-repeat!important;
	background-position: 0 0!important;
	background-size: 100%!important;
    top: -4px!important;
    width: 20px!important;
    height: 20px!important;
}
.layui-layer{
	background: #000!important;
}
.layui-layer-content::-webkit-scrollbar {
	/*滚动条整体样式*/
	width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
	height: 10px;
}
.layui-layer-content::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #ededed;
}
.layui-layer-content::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #535353;
}
/* ---------------- */
body{
	background:#34363B;
}
.fullScreen{
    width:100%;
    height:100px;
    background:#34363B;
}
/* -------顶栏------ */
.mount{
	width: 100%;
	height: 37px;
	margin: 0 auto;
	vertical-align: middle;
	font-size: 13px;
	box-shadow: 0px 2px 5px #1B1D21;
	border-bottom: 1px solid #4C4E53;
	position: relative;
	z-index: 10;
}
.mount .wrapper{
	padding-left: 4.1%;
	height: 37px;
}
.mount span{
	margin-right: 2.7%;
	color: #fff;
}
.shareBtn,.overBtn{
	height: 19px;
	border-radius:4px;
	text-align: center;
	color: #2F2F35;
}
.shareBtn{
	width: 79px;
	background: #FF9900;
}
.overBtn{
	width:54px;
	background:#F5685E;
	margin-left: 35%;
}
.gatherBox{
	width: 100%;
	border-bottom: 1px solid #4C4E53;
	justify-content: center;
	display: flex;
    flex-direction: row;
}
.gatherBox .swiper-wrapper{
	width: 100%;
}
.gatherBox .swiper-slide{
	width: 7.29%;
	position: relative;
	z-index: 8;
	margin-right: 0.4166%;
	background: #000;
	color: #fff;
}
.gatherBox .headTx:last-child{
	margin-right: 0;
}
.txImg{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.txImg video{
	display: block;
	width: 100%;
	height: 100%;
}
.unusnal{
	width: 100%;
	height: 100%;
	color: #686868;
	justify-content: center;
	position: relative;
}
.unusnal span{
	font-size: 60px;
}
.unusnal .icon-xiantiao{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -31px;
	z-index: 2;
}
.teacherSign{
	width: 30%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.gatherBox .headTx .teacherTag,.gatherBox .headTx .studentTag{
	width: 100%;
	height: 18px;
	padding: 0 15px;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	font-size: 13px;
	color: #fff;
}
.gatherBox .studentTag .name{
	width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gatherBox .teacherTag .nikename{
	color: #fff;
}
.headTx:hover .handle{
	display: flex;
}
.gatherBox .headTx .studentTag{
	padding: 0 3px;	
}
.gatherBox .headTx .studentTag .icon-user{
	font-size: 10px;
	color: #838383;
	margin-right: 4px;
}
.gatherBox .headTx .studentTag .icon-yinpin{
	color:#3DB974;
	margin-left: 3px;
	font-size: 12px;
	display: none;
}
.gatherBox .headTx .studentTag .zanNum img{
	position: relative;
	top: -1px;
	margin-right: 7px;
}
.handle{
	display: none;
}
.handle,.hands{
	width: 100%;
	height: 100%;
	background: rgba(104,104,106, 0.9);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 8;
    cursor: pointer;
}
.handle div{
	width: 27px;
	height: 27px;
	cursor: pointer;
	position: absolute;
}
.handle div span{
	display: inline-block;
	width: 27px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	background: #FF9900;
	color: #000;
	border-radius: 50%;
	font-size: 18px;
}
.handle div.icon01{
	left: 15.7%;
	top: 14.9%;
}
.handle div.icon02{
	right: 15.7%;
	top: 14.9%;
}
.handle div.icon03{
	left: 15.7%;
	bottom: 14.9%;
}
.handle div.icon04{
	right: 15.7%;
	bottom: 14.9%;
}
.handle div.teacher-zuidahua{
	left: 50%;
	top: 50%;
	margin: -13.5px 0 0 -13.5px;
	z-index: 5;
}
.handle div span.icon-tuichu{
	background: #F5685E;
	font-size: 16px;
}
.handle div .disable{
	position: absolute;
	width: 27px;
	height: 27px;
	display: none;
	left: 0;
	top: 0;
	z-index: 6;
}
.handle div .disable span{
	background: #F5685E;
}
.handle div .disable i{
	position: absolute;
	left: 4px;
    top: 3px;
	font-size: 18px;
	font-weight: bold;
	z-index: 2;
	color: #000;
}
.handle div.current .disable{
	display: block;
}
.hands{
	color: #FF9900;
	justify-content: center;
}
.hands span{
	font-size: 40px;
}
.speaking{
	border: 2px solid #3DB974;
}
.speaking .icon-user{
	color: #3DB974!important;
}
.speaking .icon-yinpin{
	display: inline-block!important;
}


/* -------侧边栏------ */
.sideBar{
	width: 88px;
	position: fixed;
	left: 0;
	z-index: 100;
}
.sideTab{
	width: 88px;
	height: 465px;
	padding: 40px 0 0 0;
	background: #24272A;
	display: flex;
	flex-direction: column;
}
.sideTab li{
	width: 88px;
	height: 74px;
	padding-left: 7px;
	margin-bottom: 9px;
	text-align: center;
	cursor: pointer;
}
.blackCircle{
	width: 74px;
	height: 74px;
	padding: 6px 7px 0;
	border-radius:8px;
	position: relative;
}
.sideTab .active{
	background: #191B1D;
}
.sideTab li .sidePic{
	display: block;
	width: 38px;
	height: 38px;
	background-image: url('/vendor/livetool/images/leftTools.png');
	background-repeat: no-repeat;
	margin: 0 auto 6px;
	cursor: pointer;
}
.sideIcon1{
	background-position: 0 0;
}
.sideIcon2{
	background-position: -38px 0;
}
.sideIcon3{
	background-position: -76px 0;
}
.sideIcon4{
	background-position: -114px 0;
}
.sideIcon5{
	background-position: -152px 0;
}
.sideIcon6{
	background-position: -190px 0;
}
.sideTab li .sideName{
	color: #D2D2D2;
	font-size: 12px;
}
.sideBar .recording{
    background: #191B1D;
}
.sideBar .recording .sideName{
	color: #F3033B;
}
.sideTab li:hover .blackCircle{
	background: #191B1D;
}
.sideTab li:hover .course{
	display: block;
}
.course{
	width: 206px;
	padding: 11px 5px 0;
	height: 459px;
	background: #24272A;
	position: absolute;
	left: 81px;
	top: -40px;
	border-left: 1px solid #3A3F43;
	display: none;
}
.course .addBtn{
	display: block;
	width: 195px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #3A3F43;
	border-radius:6px;
	color: #D2D2D2;
	margin-bottom: 3px;
}
.course .support{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #3A3F43;
	font-size: 12px;
	color: #D2D2D2;
	text-align: left;
	padding-left: 5px;
}
.course .list{
	height: 385px;
	padding-top: 24px;
	overflow-y: scroll;
}
.course .list::-webkit-scrollbar {
	width: 8px;
}
.course .list::-webkit-scrollbar-track {
	background: #24272A;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.course .list::-webkit-scrollbar-thumb {
	background: #3A3F43;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.course .list .between{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.course .list .between>div{
	width: 114px;
}
.course .list .between label{
	display: block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
	margin: 0 auto;
}
.course .list .between label.ppt{
	background: #F34E19;
	font-size: 18px;
}
.course .list .between label.pdf{
	background: #D93838;
	font-size: 13px;
}
.course .list .between label.word{
	background: #3A80FC;
	font-size: 18px;
}
.course .list .between label.excel{
	background: #039E55;
	font-size: 18px;
}
.course .list .between span{
	display: block;
	font-size: 13px;
	color: #D2D2D2;
	margin-top: 10px;
}
.course .list .between .Btn,.course .list .between .delbtn{
	width: 43px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 8px;
	color: #fff;
	margin-right: 9px;
	font-size: 12px;
}
.course .list .between .share{
	background: #3C9CFE;
}
.course .list .between .cancel{
	background: #3C9CFE;
}
.delbtn{
	font-size: 12px;
	margin-bottom: 5px;
    background: #F5685E;
    margin-top: 5px;
}		

/* 中间部分 */
.middle{
	width: 70.3%;
	margin: 0 auto;
	background: #2E3037;
	position: relative;
}
/* 直播状态 */
.status{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 16px;
	position: absolute;
    left: 0;
    top: 0;
}
.status .tag{
	width: 227px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	border-radius: 18px;
	font-size: 22px;
	color: #fff;
	margin-bottom: 20px;
}
.status .start{
    background: #3C9CFE;
}
.status .end{
	background: #979797;
}

/* 摄像头最大化 */
.maxWindow{
	width: 50%;
	background: #000000;
	position: absolute;
	top: 22px;
	left: 25%;
	z-index: 100;
	overflow: hidden;
	display: none;
}
.maxWindow .icon-close{
	color: #686868;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	right: 20px;
	top: 15px;
	z-index: 1;
	cursor: pointer;
}
.without,.with{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.without .icon-shexiangtou{
	font-size: 250px;
	color: #686868;
}
.without .icon-xiantiao{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -138px 0 0 -139px;
	font-size: 260px;
	color: #686868;
}

/* 课件按钮 */
.middle .boardTab{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
	margin: 0!important;
}
.boardTab li{
	float: left;
	height: 34px;
	line-height: 36px;
	border-radius: 12px 12px 0 0;
	-webkit-border-radius: 12px 12px 0 0;
	background: #8D919E;
	color: #fff;
	margin-right: 1px;
	padding: 0 18px;
	cursor: pointer;
}
.boardTab li.active{
	background: #60636E;
}

/* 课件翻页 */
.operate{
	width: 100%;
	height: 31px;
	position: fixed;
	bottom: 15px;
	color: #fff;
	justify-content: center;
	font-size: 12px;
}
.up_down{
	width: 120px;
	height: 31px;
	position: relative;
}
.allPage{
	display: block;
	width: 120px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	color: #ccc;
	font-size: 12px;
}
#page{
	width: 120px;
	height: 31px;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.layui-laypage a{
	width: 31px;
	height: 31px;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 0!important;
	margin: 0!important;
	background-image: url('/vendor/livetool/images/bottomTools.png');
	background-repeat: no-repeat;
	border: none;
	text-indent: -9999px;
	outline: none;
	background-color:transparent!important;
}
.layui-laypage{
	width: 100%;
	margin: 0!important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.layui-laypage a:first-child{
	background-position: 0 0;
}
.layui-laypage a:last-child{
	background-position: -31px 0;
}
.operate span.add,.operate span.del{
	width: 31px;
	height: 31px;
	background-image: url('/vendor/livetool/images/bottomTools.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	outline: none;
	margin-left:25px;
	cursor: pointer;
}
.operate span.add{
	background-position: -62px 0;
}
.operate span.del{
	background-position: -93px 0;
}




/* 工具栏 */
.edu-toolbar-box{
	width: 48px;
	background: #24272A;
	position: absolute;
	right: 0;
	top: 70px;
    z-index: 100;
}

.edu-toolbar-box .edu-toolbar-menu{
   margin: 20px 8px;
}

.edu-toolbar-box .edu-toolbar-menu>li{
   width: 32px;
   height: 32px;
   border-radius: 10%;
   background:#24272A;
   padding: 5px;
   position: relative;
   margin-bottom: 12px;
}

.edu-toolbar-box .edu-toolbar-menu>li:hover{
   background:#191b1d;
}

.tool-bgcolor .choose-state .tool {
  background-image: url(/images/mini-class-201801301143.png);
  background-position: -30px -102px;
}

.tool-bgcolor .choose-state span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid #ffffff;
}

.bg-blue {
  background-color: #006eff;
}

.bg-red {
  background-color: #ff0100;
}

.bg-green {
  background-color: #0c0;
}

.bg-yellow {
  background-color: #ff9903;
}

.bg-black {
  background-color: #000;
}

.bg-gray {
  background-color: #ccc;
}

.choose-drop-down {
  position: absolute;
  right: 40px;
  top: -3px;
  font-size: 0;
  line-height: 39px;
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  vertical-align: middle;
  padding: 0 5px;
  z-index: 100;
  display: none;
}

.choose-drop-down > ul > li {
  display: inline-block;
  cursor: pointer;
}

.choose-drop-down > ul > li > span {
  display: inline-block;
  width: 24px;
  height: 20px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 12px;
  margin: 0 5px;
  cursor: pointer;
}

.graphical .choose-drop-down > ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid transparent;
  line-height: 1;
}

.graphical .choose-drop-down > ul li.hover {
  border-radius: 2px;
  border: 1px solid #ddd;
}

.graphical .graphical-square-empty {
  height: 20px;
  width: 24px;
  border: 2px solid #ccc;
  margin: 0;
}

.graphical .graphical-square-entity {
  height: 20px;
  width: 24px;
  border: 2px solid #ccc;
  margin: 0;
  background-color: #ccc;
}

.graphical .graphical-ellipse-empty {
  height: 20px;
  width: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 0;
}

.graphical .graphical-ellipse-entity {
  height: 20px;
  width: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 0;
  background-color: #ccc;
}

.graphical .choose-drop-down {
  height: auto;
  line-height: initial;
}

.graphical .graphical-title {
  font-size: 10px;
  color: #fff;
  line-height: 14px;
  text-align: left;
  padding: 5px 10px;
}

.graphical .graphical-size .paint-brush-size-4 {
  width: 4px;
  height: 4px;
}

.graphical .graphical-size .paint-brush-size-8 {
  width: 8px;
  height: 8px;
}

.graphical .graphical-size .paint-brush-size-12 {
  width: 12px;
  height: 12px;
}

.graphical .graphical-size span {
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 10px;
}

.paint-brush ul > li.hover span {
  background-color: #fff;
}

.paint-brush ul > li span {
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 10px;
}

.paint-brush .paint-brush-size-4 {
  width: 4px;
  height: 4px;
}

.paint-brush .paint-brush-size-8 {
  width: 8px;
  height: 8px;
}

.paint-brush .paint-brush-size-12 {
  width: 12px;
  height: 12px;
}

.roomicon{background-image: url(/vendor/livetool/images/roomicon.png);display: inline-block;}

.ri-tools1 {
  width: 22px;
  height: 22px;
  background-position: 0px 0px;
}

.ri-tools2 {
  width: 22px;
  height: 22px;
  background-position: -22px 0px;
}

.ri-tools3 {
  width: 22px;
  height: 22px;
  background-position: -44px 0px;
}

.ri-tools4 {
  width: 22px;
  height: 22px;
  background-position: -66px 0px;
}

.ri-tools5 {
  width: 22px;
  height: 22px;
  background-position: -88px 0px;
}

.ri-tools6 {
  width: 22px;
  height: 22px;
  background-position: -110px 0px;
}

.ri-tools7 {
  width: 22px;
  height: 22px;
  background-position: -132px 0px;
}

.ri-tools8 {
  width: 22px;
  height: 22px;
  background-position: -154px 0px;
}

.ri-tools9 {
  width: 22px;
  height: 22px;
  background-position: -176px 0px;
}

.ri-tools10 {
  width: 22px;
  height: 22px;
  background-position: -198px 0px;
}

.ri-tools11 {
  width: 22px;
  height: 22px;
  background-position: -220px 0px;
}

/* 讨论区 */
.discussBtn{
	width: 66px;
	height: 66px;
	background: #46474D;
	position: fixed;
	right: 0.57%;
	bottom: 30%;
	z-index: 100;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #D2D2D2;
	justify-content: center;
	cursor: pointer;
}
.discussBtn .icon-liaotian{
	font-size: 30px;
}
.discussBtn .redDot{
	width: 6px;
	height: 6px;
	background: #FF0000;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	right: 17px;
	top: 20px;
	z-index: 10;
}

.dialog{
	width: 17.86%;
	height: 25rem;
	background: #3E414A;
	position: fixed;
	right: 18%;
	bottom: 129px;
	z-index: 99;
	border-radius:6px;
	box-shadow: -3px 0 5px #24252B;
	overflow: hidden;
	display: none;
}

.dialog .title{
	width: 100%;
	height: 5.7692%;
	padding-right: 1.8%;
	background: #383941;
	align-items: center;
}
.dialog .title .Tab{
	width: 46.6%;
	height: 100%;
}
.dialog .title .Tab li{
	width: 50%;
	height: 100%;
	color: #92949A;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.dialog .title .Tab li.active{
	background: #3E414A;
	color: #fff;
}
.btns{
	width: 50%;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
}
.dialog .icon-close{
	color: #92949A;
	font-size:18px;
	font-weight: bold;
	margin-left: 3%;
	cursor: pointer;
}
.dialog .icon-liaotian{
	color: #D2D2D2;
	font-size: 14px;
	cursor: pointer;
}
.discussList{
	width: 100%;
	height: 60%;
	margin-bottom: 3.46%;
	padding: 20px 14px;
	line-height: 21px;
	color: #fff;
	overflow-y: scroll;
}
.discussList li{
	margin-bottom: 15px;
}
.discussList li p i:after{
	content: '：';
}
.discussList .yellow{
	color: #FF9900;
}
.discussList::-webkit-scrollbar {
	width: 8px;
}
.discussList::-webkit-scrollbar-track {
	background: #3E414A;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.discussList::-webkit-scrollbar-thumb {
	background: #383941;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.relayBox{
	width: 100%;
	height: 30.5%;
	padding: 0 14px;
	border-top: 1px solid #303342;
	position: relative;
} 
.relayBox textarea{
	display: block;
	width: 80%;
	height: 85%;
	margin-top: 3.8%;
	resize: none;
	background: none;
	color: #fff;
}
.relayBox textarea::-webkit-scrollbar {
	width: 5px;
}
.relayBox textarea::-webkit-scrollbar-track {
	background: #3E414A;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.relayBox textarea::-webkit-scrollbar-thumb {
	background: #383941;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.send{
	width: 16.9%;
	height: 1.8rem;
	background: #3C9CFE;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	border-radius: 4px;
	color: #fff;
	position: absolute;
	top: 10px;
	right: 14px;
}
.askBox{
	width: 100%;
	height: 90.5%;
	padding: 20px 14px;
	overflow-y: scroll;
	display: none;
}
.askBox::-webkit-scrollbar {
	width: 8px;
}
.askBox::-webkit-scrollbar-track {
	background: #3E414A;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.askBox::-webkit-scrollbar-thumb {
	background: #383941;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.askBox ul li{
	line-height: 21px;
	color: #fff;
	margin-bottom: 15px;
}

/* ============设备检测============ */
.testBg{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
    display: none;
}
.testBox{
    width: 560px;
    background: #fff;
    margin: 50px auto 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -242px 0 0 -280px;
    z-index: 100;
}
.testBox .title{
    padding: 0 32px 0 27px;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #DEDEDE;
}
.testBox .title h4{
    font-size: 20px;
    color: #333;
}
.testBox .title .icon-close{
    font-size: 26px;
    color: #666;
    cursor: pointer;
}
.testContent{
    padding: 24px 115px 0;
}
.videoBox{
    width: 330px;
    height: 170px;
    background: url('/images/videoBg.png');
    margin-bottom: 23px;
}
.videoBox #video{
    display: block;
    width: 100%;
    height: 100%;
}
.selectBox{
    margin-bottom: 15px;
    align-items: center;
}
.selectBox .layui-form-select{
    width: 265px;
}
#volume{
    width: 100%;
    height: 18px;
}
.testBtns{
    height: 55px;
    padding: 12px 39px 13px;
    border-top: 1px solid #DEDEDE;
    margin-top: 20px;
}
.testBtns .keepBtn{
    float: right;
    width: 83px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #00B1F6;
    color: #fff;
    border-radius: 3px;
}

/* ============举手============ */
.handBtn{
	width: 66px;
	height: 66px;
	background: #46474D;
	position: fixed;
	right: 0.57%;
	bottom: 20%;
	z-index: 100;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #D2D2D2;
	justify-content: center;
	cursor: pointer;
}
.handBtn .icon-jushou{
	font-size: 30px;
    margin-left: 5px;
}


/* ============分享课程============ */
.shareBg{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	display: none;
}
.shareBox{
	width: 670px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -235px 0 0 -335px;
	z-index: 999;
}
.shareTitle{
	height: 70px;
	line-height: 70px;
	padding:0 25px;
	border-bottom: 1px solid #DEDEDE;
}
.shareTitle h3{
	font-size: 18px;
	font-weight: normal;
}
.shareTitle i{
	font-size: 26px;
	color:#666;
	cursor: pointer;
}
.shareContent{
	padding: 25px 0 0 0;
	height: 400px;
	overflow-y: scroll;
}
.shareContent::-webkit-scrollbar {
	width: 8px;
}
.shareContent::-webkit-scrollbar-track {
	background: #fff;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.shareContent::-webkit-scrollbar-thumb {
	background:rgb(222,222,222);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius:2em;
}
.copyBtn,.load_code{
	display: inline-block;
	height: 37px;
	line-height: 37px;
	background: #00B1F6;
	color: #fff;
	text-align: center;
	font-size: 13px;
	vertical-align: bottom;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-left: 13px;
}
.copyBtn{
	width: 70px;
}
.copyBtn:hover{
	color: #fff;
}
.linkInp{
	color: #37A0C9;
}
.ewm img{
	width: 96px;
	height: 96px;
	border: 1px solid #e6e6e6;
}
.load_code{
	width: 83px;
}
.shareBox .line{
	width: 100%;
	height: 1px;
	background: #DEDEDE;
	margin-bottom: 15px;
}
.shareBox .tishi{
	padding: 0 0 15px 20px;
	color: #FF3D3D;
	font-size: 13px;
	align-items: center;
}
.shareBox .layui-form-item{
	padding: 0 30px;
}
.shareBox .layui-form-item .layui-form-label{
	width: 93px;
	padding: 9px 0;
}
.shareBox .layui-form-item .layui-input-block input{
	width: 400px;
}
.TelCourse,#qqq,.PortDiscussTitle{
	display: none;
}


/*pc端竖屏样式隐藏*/
.PortCourse .desc{
	display: none;
}