@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, input, select {
    margin:0;
    padding:0;
    /*font-family:sans-serif;*/
    font-weight:inherit;
    font-style:inherit;
    font-size:inherit;
    text-align:inherit;
    vertical-align:baseline;
    color:inherit;
    border:0;
    outline:0;
}
body {width:100%;margin:0 auto; height:100%; -webkit-user-select:none;font-size: .2rem;}
body>iframe { display: none; }
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;/* font-size: 62.5%; */}
/*html, button, input, select, textarea { font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }*/
html, body,textarea,input,button,select,keygen,legend{/* font:12.5px/24px "微软雅黑","Microsoft YaHei",arial,sans-serif,\5b8b\4f53; */color:#3c3c3c;outline:0; color: #fff;}

:focus {outline:0;}
table {
    border-collapse:separate;
    border-spacing:0;
}
caption, th, td {
    text-align:left;
    font-weight:normal;
}
a {display:block; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none;}
a img, iframe {border:none;}
img {vertical-align:top; max-width:100%; display:block; height:auto;}
p {text-align:justify;}
ol, ul ,li{list-style:none;}
input, textarea, select, button {
    font-size:100%;
    font-family:inherit;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
}
input{background:none; outline:none; -webkit-border:0 none; border:0 none; -webkit-appearance:none; appearance:none;-webkit-border-radius:0;border-radius:0;}
input[type='text'],input[type='password'],input[type='button'],input[type='submit'],input[type='reset'],textarea,button{background-color: transparent; border:none; -webkit-appearance: none;appearance: none;-webkit-border-radius:0;border-radius:0;}
i{font-style:normal;}
.fl{float:left;}
.fr{float:right;}
body{margin:0 auto;}
.Pg4{padding:0 4%;height:100%;}
.mg2{margin:0 4%;}
.np{padding:0 !important;}
margin:0 !important;
.none{display:none;}
.clearfix:after {display:block; height:0; clear:both; content:"\200B";}
.clearfix {*zoom:1;}
.row{display: flex; flex-direction: row;}
.column{display: flex; flex-direction: column;}
.align_item{align-items: center;}
.between{display: flex;flex-direction: row;justify-content: space-between;}
.center{justify-content: center;}
.around{display: flex;flex-direction: row;justify-content: space-around;}
/* == 以上 reset css == */
body{
    background: #34363B;
    visibility: hidden;
}
.mount{
    display: none;
}
#qqq{
    display: none;
}
.PortCourse .desc{
    display: none;
}
.sideBar{
    display: none;
}
.PortDiscussTitle {
    display: none;
}
.swiper-container{
    width: 1rem!important;
    height: 100%!important;
    background: #282A31;
    border-bottom: 1px solid #4C4E53;
}
.gatherContent{
    display: none;
    width: 1rem!important;
    height: 100%!important;
    position: fixed!important;
    right: 0;
    top: 0;
    z-index: 200!important;
}
.gatherBox{
    width: 1rem!important;
    height: 100%!important;
    background: #282A31;
    display: flex;
}
.gatherBox .headTx{
    width: .92rem!important;
    height: .83rem!important;
    position: relative;
    z-index: 8;
    background: #000;
    margin-top: .1rem;
}
.gatherBox .headTx:last-child{
    margin-right: 0;
}
.gatherBox .headTx .txImg{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gatherBox .headTx .txImg video{
    display: block;
    width: 100%;
    height: 100%;
}
.gatherBox .headTx .unusnal{
    width: 100%;
    height: 100%;
    color: #686868;
    justify-content: center;
    position: relative;
}
.gatherBox .headTx .unusnal span{
    font-size: 60px;
}
.gatherBox .headTx .unusnal .icon-xiantiao{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -31px;
    z-index: 2;
}
.teacherSign{
    width: 30%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.gatherBox .headTx .teacherTag,.gatherBox .headTx .studentTag{
    width: 100%;
    height: .17rem;
    padding: 0 .05rem;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    font-size: 13px;
    color: #fff;
}
.gatherBox .studentTag .name{
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: .09rem;
}
.gatherBox .studentTag .name span{
    color: #fff;
}
.gatherBox .headTx .studentTag .icon-user{
    font-size: 10px;
    color: #838383;
    margin-right: 4px;
}
.gatherBox .headTx .studentTag .icon-yinpin{
    color:#3DB974;
    margin-left: 3px;
    font-size: 12px;
    display: none;
}
.gatherBox .headTx .studentTag .zanNum{
    display: flex;
    flex-direction: row;
}
.gatherBox .headTx .studentTag .zanNum img{
    width: .08rem;
    height: .08rem;
    position: relative;
    top: .02rem;
    margin-right: .03rem;
}
.handle{
    display: none;
}
.maxWindow{
    display: none;
}
.middle{
    width: 100%;
    height: 4.33rem;
    background: #2E3037;
    position: relative;
}
#paint_box{
    width: 100%;
    height: 4.33rem;
    overflow: hidden;
}
.cameraClose{
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    position: fixed;
    right: 1rem;
    bottom: 0;
    color: #fff;
    background: #282A31;
    font-size: 0.2rem;
    display: none;
}

/* 直播状态 */
.status{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: .1rem;
    position: absolute;
    left: 0;
    top: 0;
}
.status .tag{
    width: 1.5rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    border-radius: .04rem;
    font-size: .12rem;
    color: #fff;
    margin-bottom: .2rem;
}
.status .start{
    background: #3C9CFE;
}
.status .end{
    background: #979797;
}

/*侧边按钮*/
.discussBtn,.handBtn,.cameraBtn{
    width: .4rem;
    height: .4rem;
    background: #46474D;
    position: fixed;
    z-index: 100;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #D2D2D2;
    justify-content: center;
    cursor: pointer;
    display: flex;
}
.discussBtn{
    right: 0.57%;
    bottom: 1rem;
}
.discussBtn .icon-liaotian,.handBtn .icon-jushou,.cameraBtn .icon-shexiangtou{
    font-size: .2rem;
}
.discussBtn .redDot{
    width: 6px;
    height: 6px;
    background: #FF0000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    right: .08rem;
    top: .1rem;
    z-index: 10;
}
.handBtn{
    right: 0.57%;
    bottom: .5rem;
}
.handBtn .icon-jushou{
    margin-left: .05rem;
}
.cameraBtn{
    right: 0.57%;
    bottom: 1.5rem;
}


/*讨论区*/
.dialog{
    width: 2rem;
    height: 100%;
    background: #282A31;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    display: none;
}
.dialog .title{
    width: 100%;
    height: .3rem;
    padding: 0 2% 0 5%;
    background: #383941;
    align-items: center;
    line-height: .3rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.dialog .title .Tab{
    font-size: .15rem;
}
.dialog .title .btns .banbtn{
    display: none;
}
.discussList{
    width: 100%;
    height: 70%;
    padding: .38rem 5% .1rem;
    font-size: .15rem;
    overflow-y: scroll;
    font-size: .12rem;
}

.discussList::-webkit-scrollbar {
    width: 5px;
}
.discussList::-webkit-scrollbar-track {
    background: #3E414A;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.discussList::-webkit-scrollbar-thumb {
    background: #383941;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.discussList li{
    margin-bottom: .05rem;
}
.discussList li p{
    word-break:break-all;
}
.discussList li p i:after{
    content: "：";
}




.relayBox {
    width: 100%;
    height: 30%;
    padding: 0 14px;
    border-top: 1px solid #303342;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.relayBox textarea{
    display: block;
    width: 100%;
    height: 66%;
    margin-top: 3.8%;
    resize: none;
    background: none;
    color: #fff;
    font-size: 0.12rem;
}
.relayBox .send{
    width: 20%;
    height: 0.23rem;
    line-height: 0.23rem;
    background: #3C9CFE;
    align-items: center;
    justify-content: center;
    font-size: 0.1rem;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 14px;
}

/*提示弹框*/
.swal2-popup.swal2-toast{
    font-size: 62.5%!important;
}
.swiper-container {
    width: 100%;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
}


